@layout("layouts/layout")

@section("content")

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="my-5">Hello word please go to <a href="/" class="text-success"> Home Page</a></h1>
    </div>
  </div>
</div>

@endsection